<main class="container-fluid">
	<div class="row pt-2">
		<div class="col-12">
			<mat-toolbar>
				<button mat-icon-button color="primary" aria-label="menu" routerLink="/movies">
					<mat-icon>arrow_back</mat-icon>
				</button>
			</mat-toolbar>
		</div>


		<!-- Etiquetas a renderizar - INICIO -->
		<div class="col-12 col-md-4 text-center justify-content-center mx-auto">
			<div class="card border-0">
				<img src="https://www.wizardingworld.com/images/products/films/rectangle-9.png" class="rounded mx-auto d-block img-thumbnail border-0 shadow-4-strong" alt="fantastic-beasts-the-crimes-of-grindelwald">
				<div class="card-body">
					<h5 class="card-title">Fantastic Beasts and Where to Find Them</h5>
					<p class="card-text">Fantastic Beasts and Where to Find Them tells the tale of magizoologist Newton (Newt) Scamander and his adventure through New York City in the 1920s. A thrilling chase ensues when the magical creatures inside Newt’s suitcase are freed inside the city. Along with his new friends Jacob, a muggle, and Queenie, Newt must recapture all the creatures before they lay destruction to the city. However, things get complicated as a lurking Obscurial reveals itself and the Magical Congress of United States (MACUSA) intervenes.</p>
					<div class="stats">
						<div class="half divisor">
							<div class="stat">$814</div>
							<div class="stat-value">Box Office</div>
						</div>
						<div class="half">
							<div class="stat">$175–200</div>
							<div class="stat-value">Budget</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Etiquetas a renderizar - FIN -->
			
	</div>
</main>