
body{
  background-image: url(../images/summonersrift.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header{
  background-color: aliceblue;
  padding: 1rem;
  margin-bottom: 1rem;
}

header{
  background-image: url(../images/ee3.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -5cm;
}

#titulo-campeon{
  text-align: center;
  text-transform: uppercase;
}
.glass{
  
  color: white;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
}
.neon{
  color: #fff;
  animation: neon 1s linear infinite alternate;
}
@keyframes neon {
  from {
    text-shadow: 
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #FF9950,
      0 0 25px #FF9950;
  }
  to {
    text-shadow: 
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #FF9950,
      0 0 25px #FF9950,
      0 0 30px #FF9950;
  }
  
}