#header {
	background-image: url("../../../assets/images/istockphoto-1200199818-612x612.jpg");
	background-size:     cover;                    
	background-repeat:   no-repeat;
	background-position: center center;
	height: 30vh;
	width: 100vw;
} 

#content {
	height: 70vh;
	width: 100vw;	
}

h1 {
	color: #652e48;
	font-size: 1.8rem;
}

.card-body {
	padding: 0;
}

a {
	text-decoration: none;
}